body {
    background-image: url('food.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
  }

  .container {
    background-color: rgba(84, 101, 196, 0.8); 
    padding: 20px;
    margin: 0 auto;
    max-width: 600px; /* Limit the width of the form container */
    border-radius: 10px; /* Add rounded corners to the form container */
    box-shadow: 0 0 10px rgba(33, 99, 48, 0.3); /* Add a subtle shadow effect to the form container */
  }

  h1 {
    text-align: center;
  }

  form {
    margin-top: 20px;
  }

  label {
    display: block;
    margin-bottom: 5px;
  }

  input,
  select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }

  button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  button:hover {
    background-color: #45a049;
  }

  #result {
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
  }